* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background: orange;
  height: auto;
  width: 100vw;
  font-family: sans-serif;
  padding-top: 20px;
  color: white;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
