* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  z-index: 1;
}

.banner-area {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  background: orange;
  z-index: 999;
}

#home {
  background-image: url(https://cdn.pixabay.com/photo/2016/11/22/23/03/hardwood-1851071__340.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.3s all ease-in;
}

.body {
  margin: 0%;
  padding: 0%;
}

.menu {
  z-index: 999;
  list-style: none;
  display: flex;
  align-items: center;
  height: 90px;
  margin-right: 20px;
  color: black;
}

.menus a {
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  color: black;
}

.menus :hover {
  color: white;
}

.logo {
  text-decoration: none;
  color: white;
  line-height: 1px;
  padding: 0 10px;
  font-weight: bold;
  margin: 0 10px;
}

.logo:hover {
  color: white;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
}

.banner-text h2 {
  font-family: sans-serif;
  margin: 0%;
  font-size: 55px;
  color: white;
}

.banner-text h2 span {
  color: orange;
}

.banner-text p {
  font-size: 22px;
  margin: 0%;
  font-family: sans-serif;
  font-weight: bold;
}
.banner-text p:hover {
  transition: 0.3s all ease-in;
  color: white;
}

.banner-text a {
  text-decoration: none;
  border-radius: 1px solid white;
  font-size: 17px;
  padding: 10px 35px;
  color: white;
  display: inline-block;
  margin-top: 5%;
  font-family: poppins;
  text-transform: uppercase;
}
.picture {
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  /* margin-right: 10%; */
  min-width: 400px;
  min-height: 400px;
  /* display: flex; */
  /* align-self: center; */
}

.container.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.container.about-section .image-section {
  height: 500px;
  width: 45%;
  margin-right: auto;
}

.container.about-section .image-section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
