* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background-color: white;
  padding-top: 100px;
}

.slider2 {
  max-width: 1150px;
  display: flex;
  padding: 5% 10%;
  row-gap: 50px;
}

.slider2 .card2 {
  /* flex: 1; */
  width: 500px;
  margin: 0 auto;
  border-radius: 1px;
  background: orange;
}

.slider2 .card2 .img {
  height: 500px;
  width: 100%;
}

.slider2 .card2 .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.heading {
  width: 100%;
  text-align: center;
  color: orange;
  font-size: 40px;
  padding: 1rem;
  margin-top: 2px;
}

.slider2 .card2 .content2 {
  padding: 10px 20px;
}

.card2 .title2 {
  font-size: 20px;
  font-weight: 600;
}

.card2 .sub-title {
  font-size: 15px;
  font-weight: 600;
  color: white;
  line-height: 20px;
}
.card2 .content2 p {
  text-align: justify;
  margin: 10px 0;
}

@media screen and (max-width: 990px) {
  .slider2 {
    max-width: 1150px;
    display: flex;
    padding: 5% 10%;
    row-gap: 50px;
  }
}
